* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.parent {
  height: 100vh;
  width: 100vw;
}

.title,
.content {
  border-radius: 10px;
  margin: 0 auto;
}

.title {
  color: white;
  background-color: red;
  border: 3px brown solid;
  padding: 30px;
  position: relative;
  top: 40px;
  text-align: center;
  width: 300px;
  z-index: 1;
}

.content {
  background-color: rgb(195, 193, 193);
  border: 3px black solid;
  padding: 50px;
  position: relative;
  width: 70%;
  max-width: 500px;
}
